
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <title> Index </title>
</head>

<body>


    <h1><b><Welcome to Admin Page</b></h1>

    <h4>Register A User.</h4>

    <h4>View All the registered Users.</h4>



</body>
</html>

